body {
    background-color: whitesmoke;
}

.cuadro {
    height: 200px;
    padding: 0px;
    opacity: 0.5;
}
.col-sm {
    padding: 0px;
}

#cuadro-1 {
    background-color: red;
    border-top-left-radius: 50%;
}

#cuadro-2 {
    background-color: blue;
    border-top-right-radius: 50%;
}

#cuadro-3 {
    background-color: yellow;
    border-bottom-left-radius: 50%;
}

#cuadro-4 {
    background-color: green;
    border-bottom-right-radius: 50%;
}
